/*----------------------------------------*/
/*  Grid Layout
/*----------------------------------------*/
.container{
   @include make-container();
   @include make-container-max-widths();
}

.container-fluid{
   @include make-container();
}

@if $enable-grid-classes {
   .row {
      @include make-row();
   }

   // Remove the negative margin from default .row, then the horizontal padding
   // from all immediate children columns (to prevent runaway style inheritance).
   .no-gutters {
      margin-right: 0;
      margin-left: 0;

      >.col,
      >[class*="col-"] {
         padding-right: 0;
         padding-left: 0;
      }
   }
}

// Extra small screen / phone
.col-4{
   @include make-col(4);
}

.col-6{
   @include make-col-ready();
   @include make-col(6);
}

.col-12{
   @include make-col-ready();
}

// Small screen / phone
@include col (sm, 2);
@include col (sm, 4);
@include col (sm, 6);
@include col (sm, 8);

// Medium screen / tablet
@include col (md, 2);
@include col (md, 3);
@include col (md, 4);
@include col (md, 5);
@include col (md, 6);
@include col (md, 8);
@include col (md, 10);

// Large screen / desktop
@include col (lg, 2);
@include col (lg, 4);
@include col (lg, 5);
@include col (lg, 6);
@include col (lg, 7);

// Extra large screen / wide desktop
@include col (xl, 2);
@include col (xl, 4);

// Offset large screen / wide desktop
.offset-lg-2{
   @include lg{ 
      @include make-col-offset(2);
   }
} 

.offset-lg-6{
   @include lg{
      @include make-col-offset(6);
   }
}
