/*--------------------------------------
	- Button
----------------------------------------*/
.btn {
	@include btn($py: 15px, $px: 30px, $lh: 1.4, $fw: 400, $ff: $roboto, $fs: 18px, $radius: 5px);
	
	@include xs {
		padding: 10px 12px;
		font-size: 16px;
	}
}

.btn-red{
	background: $red;
	color: $white;
	&:hover{
		color: $white;
		background: #C1011B;
	}
}

.btn-blue{
	background: $blue;
	color: $white;
}

.btn-white {
	background: $white;
	box-shadow: 0px 14px 10px 0px rgba(141, 155, 247, 0.45);
	@include property;
	&:hover{
		box-shadow: none;
	}
}

.btn-border {
	background: transparent;
	border: 1px solid $red;
	border-radius: 30px;
}

// .hover-aware{
// 	z-index: 2;
// 	&::before,
// 	&::after {
// 		content: '';
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		width: 0;
// 		height: 80px;
// 		-webkit-transition: 0.4s;
// 		transition: 0.4s;
// 		z-index: -1;
// 	}
// 	&::after {
// 		left: auto;
// 		right: 0;
// 	}
// 	span {
// 		margin-top: 0;
// 		opacity: 1 !important;
// 		margin: 0 !important;
// 		&::before,
// 		&::after {
// 			content: '';
// 			position: absolute;
// 			top: 0;
// 			left: 0;
// 			width: 0;
// 			height: 80px;
// 			-webkit-transition: 0.4s;
// 			transition: 0.4s;
// 			z-index: -1;
// 		}
// 		&::before {
// 			left: auto;
// 			right: 0;
// 			-webkit-transition-delay: 0.4s;
// 			transition-delay: 0.4s;
// 		}
// 		&::after {
// 			-webkit-transition-delay: 0.4s;
// 			transition-delay: 0.4s;
// 		}
// 	}
// 	&:hover {
// 		color: $white;
// 		&::before,
// 		&::after {
// 			width: 250px;
// 		}
// 		span {
// 			&::before,
// 			&::after {
// 				width: 250px;
// 			}
// 		}
// 	}
// 	&:active {
// 		background-color: $red;
// 	}
// }

// .hover-aware-red{
// 	&::before, &::after{
// 		// @include gradient($red-gr);
// 	}
// 	span{
// 		&::before,
// 		&::after {
// 			// @include gradient($red-gr);
// 			opacity: 0.25;
// 		}
// 	}
// }

// .hover-aware-green{
// 	&::before, &::after{
// 		background-color: $green;
// 	}
// 	span{
// 		&::before,
// 		&::after {
// 			background-color: $green;
// 			opacity: 0.25;
// 		}
// 	}
// }

// .hover-aware-pink{
// 	&::before, &::after{
// 		background-color: $pink;
// 	}
// 	span{
// 		&::before,
// 		&::after {
// 			background-color: $pink;
// 			opacity: 0.25;
// 		}
// 	}
// }

// .hover-aware-black{
// 	&::before, &::after{
// 		background-color: $black;
// 	}
// 	span{
// 		&::before,
// 		&::after {
// 			background-color: rgba($color: $black, $alpha: 0.25);
// 		}
// 	}
// }

// .hover-aware-blue{
// 	&::before, &::after{
// 		background-color: $blue;
// 	}
// 	span{
// 		&::before,
// 		&::after {
// 			background-color: rgba($color: $blue, $alpha: 0.25);
// 		}
// 	}
// }

// .double-swipe{
// 	color: #757f8a;
// 	@include property;

// 	&::before, &::after{
// 		content: '';
// 		@include positions(0);
// 		width: 100%;
// 		// @include gradient($red-gr);
// 		@include property;
// 		z-index: -1;
// 	}
// 	&::before{
// 		top: 100%;
// 		right: 100%;
// 		-webkit-transform: translateX(-100%);
// 		transform: translateX(-100%);
// 	}
// 	&::after{
// 		top: 100%;
// 		left: 100%;
// 	}
// 	&:hover{
// 		color: #d7d9dd;
// 		&::before {
// 			top: 0;
// 			right: 0;
// 			-webkit-transform: translateX(0);
// 			transform: translateX(0);
// 		}
// 		&::after{
// 			top: 0;
// 			left: 0;
// 		}
// 	}
// }
