.menu {
    @include nav($fs: 18px, $pt: 30px, $pb: 30px, $pl: 10px, $pr: 0, $color: $white, $h-color: $red);

    li {
        @media (max-width: 991px) {
            display: block;
        }

        a {
            @media (max-width: 991px) {
                padding: 20px 30px;
                text-align: left;
            }

            @media (min-width: 1500px) {
                padding-left: 23px; 
            }
        }
    }
}
